.title{
  background-color: #7775f5;
  color: #ebebeb;
  text-align: center;
}
.container{
  display: inline-block;
  width: 100%;
  margin-bottom: 1em;

  .extra-info{
    float: right;
    background-color: #e8e8e8;
    line-height: 1.5em;
    padding: 1em;
    margin: 1.5em 1em;
  }
  h2 small{
    color: #9f9393;
  }
}
.raw .panel{
  border-top: 1px solid;
  color: #a69e9e;
}
